html,
body {
	height: 100%;
	color: #555;
}

body {
	background: #aa4b6b;
	background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
	background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

.crossedOff {
	color: gray;
	text-decoration: line-through;
}

.card {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input {
	background-color: rgba(0, 0, 0, 0.03);
}

input:focus {
	background-color: white;
}

.card-header {
	text-transform: uppercase;
	font-size: 1.5rem;
}

li:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.03);
}
