<h1>Friends List</h1>

<%
	friends.forEach(friend => {
%>
<li><%=friend%></li>
<%
	});
%>
<form action="/addFriend" method="POST">
	<input type="text" name="friendName" placeholder="Name">
	<button>Add Friend</button>
</form>